:root {
  --White: hsl(0, 0%, 100%);
  --LightGrey: hsl(217, 12%, 63%);
  --MediumGrey: hsl(216, 12%, 54%);
  --DarkBlue: hsl(213, 19%, 18%);
  --VeryDarkBlue: hsl(216, 12%, 8%);
  --Orange: hsl(25, 97%, 53%);
}

body {
  background-color: var(--VeryDarkBlue);
}
.container {
  width: 350px;
  padding: 25px;
  margin: 150px auto;
  border-radius: 20px;
  font-size: 15px;
  background-color: var(--DarkBlue);
  transform: scale(1.2);
  color: var(--White);
}

img {
  padding: 12px;
  background-color: hsla(218, 7%, 32%, 0.512);
  border-radius: 20px;
}

.questioncon p {
  color: hsl(216, 12%, 54%);
  font-weight: 500;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin: 30px auto;
}
.li ,.clickedli {
  width: 5%;
  padding: 5%;
  border-radius: 100%;
  margin-left: 15px;
  background-color: hsla(214, 14%, 44%, 0.137);
  border: unset;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

.li:hover {
  background-color: var(--Orange);
  color: var(--White);
}
.clickedli {
  background-color: hsl(214, 4%, 61%);
}
button {
  width: 100%;
  padding: 13px;
  border-radius: 20px;
  background-color: var(--Orange);
  border: unset;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--White);
  font-weight: 550;
}

button:hover {
  background-color: var(--White);
  color: var(--Orange);
  cursor: pointer;
}

#thankscom {
  text-align: center;
  padding: 5px;
}
#thankscom h5 {
  background-color: rgba(85, 83, 83, 0.54);
  width: 50%;
  padding: 5px;
  border-radius: 20px;
  margin: 15px auto;
  color: var(--Orange);
}

#thankscom h1 {
  color: var(--White);
  font-weight: 500;
}

#thankscom p {
  color: var(--LightGrey);
  font-weight: 500;
  font-size: 0.9em;
}
@media screen and (max-width: 600px) {
  .container {
    width: 75vw;
    margin-top: 100px;
    transform: unset;
    overflow: hidden;
  }
}
